.comments {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.info-item {
    padding: 0 0.5rem;
}

#comments-logo {
    height: 2rem;
    padding: 0.25rem 0 0;
}